$star-radius: 15px;

.recommended-movies {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 $pageMargin;
  color: rgb(255, 255, 255);
  margin-top: 35px;
  @media screen and (min-width: 850px) {
    margin-top: 50px;
  }
  .section-title {
    position: relative;
    font-size: 20px;
  }
  .horizontal-scroll-wrapper {
    white-space: nowrap;
    overflow-x: auto;
    padding: 40px 0 30px;
  }
  .horizontal-scroll-card.movie-card {
    cursor: pointer;
    width: calc(50% - 10px);
    display: inline-block;
    max-width: calc(110px + 15vw);
    margin: 0 10px;
    &:first-child {
      margin-left: 0;
    }
    @media screen and (min-width: 850px) {
      max-width: 235px;
    }
  }
  .movie-poster {
    @extend %large-movie-poster;
  }
  .card-rating {
    @include flex($justifyContent: space-between);
    font-size: 13px;
  }
  .rating-stars .icon-star-full {
    width: $star-radius;
    height: $star-radius;
    stroke: $yellow;
    margin: 1px;
  }
  .description {
    margin-top: 15px;
    .card-title {
      margin-bottom: 5px;
      font-weight: 600;
      font-size: 16px;
    }
  }
}
