.footer-wrapper {
  color: rgb(255, 255, 255);
  background-color: $secondaryGray;
}
.footer {
  @include flex($alignItems: flex-start, $justifyContent: space-between);
  padding: 40px 10px 50px 10px;
  font-size: 13px;
  max-width: 1000px;
  margin: 0 auto;
  .left-content {
    display: none;
    svg {
      margin-bottom: 20px;
      width: 25px;
      height: 25px;
    }
    @media screen and (min-width: 550px) {
      display: block;
      max-width: 33%;
    }
  }
  .footer-title {
    margin-bottom: 20px;
  }
  p {
    opacity: 0.8;
  }
  .center-content p {
    margin-bottom: 5px;
  }
  .social-medias {
    a {
      display: inline-block;
      position: relative;
      transition: 0.2s linear all;
      &:hover {
        transform: translateY(-4px) scale(1.1);
      }
    }
    svg {
      width: 35px;
      height: 35px;
      background: $mainGray;
      padding: 6px;
      box-sizing: border-box;
      margin: 2px;
      border-radius: $mainBorderRradius;
      fill: rgb(255, 255, 255);
    }
  }
}

.copyrights {
  max-width: 1000px;
  margin: 0 auto;
  position: relative;
  padding: 15px;
  font-size: 10px;
  text-align: center;
  &:after {
    content: "";
    @include absolute($height: 2px);
    background-color: $mainGray;
  }
  p {
    opacity: 0.8;
  }
}
