.search-results-section {
  padding: 30px $pageMargin;
  color: rgb(255, 255, 255);
  min-height: 60vh;
}

.search-results-items {
  padding-top: 20px;
  .movie-card {
    display: flex;
    cursor: pointer;
    position: relative;
    padding: 30px 0;
    &:not(:first-child):before {
      content: "";
      @include absolute($height: 1px);
      background: rgba(255, 255, 255, 0.5);
    }
    .movie-basic-details {
      flex-grow: 1;
    }
  }
  .movie-poster {
    @extend %medium-movie-poster;
    margin-right: calc(5px + 2vw);
  }
  .blured-poster {
    display: none;
  }
  .movie-basic-details {
    .top-content {
      display: flex;
      margin-bottom: 20px;
    }
    h2.movie-title {
      font-size: 20px;
      flex-grow: 1;
    }
    .rating {
      display: flex;
      color: #f3bd13;
      font-size: 13px;
      justify-content: flex-end;
      margin-top: 5px;
    }
    .icon-star-full {
      width: 15px;
      height: 15px;
      margin-right: 5px;
    }
    .summary {
      font-size: 13px;
    }
  }
}

//For screens that are at least 500px wide
@media screen and (min-width: 500px) {
  .search-results-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .movie-card {
      width: 48%;
      display: flex;
      flex-direction: column;
      &:before {
        display: none;
      }
    }
    .blured-poster {
      @include absolute($top: 10%, $height: 80%);
      filter: blur(10px);
      display: block;
      z-index: -1;
      background-size: contain;
      background-position: center;
      opacity: 0.8;
    }
    .movie-poster {
      margin: 0;
    }
    .left-content {
      @include flex();
      position: relative;
      overflow: hidden;
      margin-bottom: 20px;
    }
  }
}

//For screens that are at least 675px wide
@media screen and (min-width: 675px) {
  .search-results-section {
    padding: 50px 15px;
    max-width: 1000px;
    margin: 0 auto;
    .movie-card {
      width: 31%;
    }
    .left-content {
      margin-bottom: 10px;
    }
  }
}

//404 no results
.no-search-results {
  font-size: 30px;
  height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
